.header {
  color: #fff;
  background-color: #252527;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: .5rem;
  font-size: 2.5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 25px);
  border-top: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: black;
}

.grid-container.player {
  font-size: small;
  margin-right: 360px;
  padding: 0.01em;
  line-height: 1.4em;
  grid-auto-rows: minmax(25px, 25px);
}

.grid-container.opponent {
  font-size: 30px;
  margin-left: 360px;
  line-height: 1.4em;
  grid-template-columns: repeat(11, 40px);
  grid-auto-rows: minmax(40px, 40px);
}

.grid-container.opponent .grid-item.letter, .grid-container.opponent .grid-item.num {
  text-align: center;
  border: 1px solid black;
  background: #ecd018;
  border-right: 0px;
  border-top: 0px;
}

.grid-container.player .grid-item.letter, .grid-container.player .grid-item.num {
  text-align: center;
  border: 1px solid black;
  background: #ecd018;
  border-right: 0px;
  border-top: 0px;
}

.grid-item {
  border-style: solid;
  border-width: .1px;
  background: aliceblue;
  border-right: 0px;
  border-top: 0px;
}
