$lightblack: lighten(#252527, 9);
$opBoardSize : 35px;
$plBoardSize : 25px;
$margin: 400px;
$gold : #ecd018;

body {
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: $gold 3px solid;
  margin: 0;
  #branding {
    text-align: center;
    h1 {
      margin: 0;
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  border-top: 1px;
  border-right: 1px;
  border-style: ridge;
  border-bottom: 0px;
  border-left: 0px;
  border-color: $lightblack;
  border-width: thin;
  line-height: 1.4em;
  &.player {
    font-size: small;
    margin-right: $margin;
    grid-template-columns: repeat(11, $plBoardSize);
    grid-auto-rows: minmax($plBoardSize, $plBoardSize);
    .grid-item.letter,
    .grid-item.num {
      background: $gold;
    }
  }
  &.opponent {
    font-size: 25px;
    margin-left: $margin;
    grid-template-columns: repeat(11, $opBoardSize);
    grid-auto-rows: minmax($opBoardSize, $opBoardSize);
    .grid-item.letter,
    .grid-item.num {
      background: $gold;
    }
  }
}

.grid-item {
  text-align: center;
  border-style: solid;
  background: aliceblue;
  border-right: 0px;
  border-top: 0px;
  border-color: $lightblack;
  border-width: thin;
}
